<div class="header">
  <div class="logo">
    <img src="assets/images/logo.png" />
    <div class="search">
      <!-- <input type="text" placeholder="Search a type or category" /> -->
      <i class="fa fa-search" aria-hidden="true"></i>
      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
      <i class="fa fa-user" aria-hidden="true"></i>
    </div>
  </div>
  <div class="nav">
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <a class="navbar-brand" routerLink="/"></a>
      <button
        class="navbar-toggler d-lg-none"
        type="button"
        data-toggle="collapse"
        data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/"
              >HOME <span class="sr-only"></span
            ></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/shop">SHOP</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">ABOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/teagram">THE TEAGRAM</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/faq">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">CONTACT US</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
