<div class="footer">
  <div class="upper">
    <div class="about">
      <p class="title">ABOUT THE SHOP</p>
      <p class="desc">
        The story of Rujani Tea, started with a dream and a passion to bring the
        wonders of loose-leaf Assam tea to tea lovers across the world.
        <strong
          >We are fourth generation tea planters and have been producing award
          winning teas since 1897.</strong
        >
      </p>
      <p class="desc">
        Assam tea is perceived to be just "tea in a bag". We hope to change that
        perception by
        <strong
          >bringing you a range of speciality teas, from our tea farm to your
          cup.</strong
        >
      </p>
    </div>
    <div class="categories">
      <p class="title">Categories</p>
      <ul>
        <li>All products</li>
        <li>Award winners</li>
        <li>Bestsellers</li>
        <li>Signature teas</li>
        <li>Black teas</li>
        <li>White teas</li>
      </ul>
    </div>
    <div class="info">
      <p class="title">Information</p>
      <ul>
        <li>Contact us</li>
        <li>About us</li>
        <li>FAQ</li>
        <li>Search</li>
      </ul>
    </div>
    <div class="newsletter">
      <p class="title">Newsletter</p>
      <span class="desc">
        Subscribe to receive updates, access to exclusive deals, and more.
      </span>
      <input placeholder="Enter your email address" />
      <button class="button">subscribe</button>
    </div>
  </div>
  <div class="bottom">
    <div class="powered">
      <p class="title">c rjuani tea india</p>
      <span class="desc">powered by shopify</span>
    </div>
    <div class="icon">
      <div>a</div>
      <div>b</div>
      <div>c</div>
      <div>d</div>
      <div>e</div>
      <div>f</div>
    </div>
  </div>
</div>
